.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #2a2f37;
  transform: translate(-50%, -50%);
  /* margin: 75% auto; */
  bottom: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* min-width: 95vw; */
  max-width: 95vw;
  cursor: default;
}

.headToHeadModalHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 998;
}

.closeButton {
  justify-content: flex-end;
  /* float: right; */
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
  padding-bottom: 1.5rem;
}

.selectGroup {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.select {
  background: transparent;
  color: #fff;
  border: 1px solid #444;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  appearance: none;
  -webkit-appearance: none;
}

.select:focus {
  /* max-height: 25px; */
  overflow: auto;
  text-align: left;
  outline: 2px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.06);
  background: var(--color-card);
  scrollbar-width: thin;
}
