.scoreboard {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.matchupCard {
  display: block;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--color-card);
  /* padding: 1.5rem; */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  /* cursor: pointer; */
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.matchupHeader {
  cursor: default;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.gameweekHeader {
  display: flex;
  margin-top: 1rem;
}

.gameweekButton {
  flex: 1;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-primary);
  padding-bottom: 1rem;
}

.gameweekButton:hover {
  color: #006cd8;
}

.container {
  max-width: 100%;
  background-color: var(--color-bg);
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 500px;
  }
}

.container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.container h3 {
  text-align: center;
}
