.tableContainer {
  max-width: 100%;
  overflow-x: auto;
  /* overflow: visible !important; */
  max-height: 50vh;
}

.tableContainer table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;

  color: var(--color-text);
}

.tableContainer th {
  background-color: var(--color-card);
  color: var(--color-text-secondary);

  position: sticky;
  top: 0;
  padding: 0.5vw;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
}

.tableContainer td {
  padding: 0.5vw 0.5vw;
  border-bottom: 1px solid #30363d;
  white-space: nowrap;
  font-size: 0.95rem;
  min-width: 1vw;
  text-align: center;
}

.tableContainer tbody tr {
  transition: background-color 0.15s ease;
}

.tableContainer tbody tr:last-child td {
  border-bottom: none;
}
.tableContainer tbody tr:nth-last-child(2) > td {
  border-bottom: 1px solid #eee;
}

.tooltipTrigger {
  position: relative;
  cursor: help;
  text-transform: none;
}

.tooltipTrigger::after {
  content: attr(data-tooltip);
  position: fixed;

  top: 1rem;
  left: 40%;
  right: auto;
  bottom: auto;

  padding: 0.25rem;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: var(--color-card);
  color: var(--color-text);
  box-shadow: 0 0 0 1px var(--color-primary), 0 4px 8px rgba(0, 0, 0, 0.04);

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 2000;
}

.tooltipTrigger:hover::after {
  opacity: 1;
  background: rgba(38, 33, 45, 0.75);
  visibility: visible;
}

@media screen and (min-width: 769px) {
  .tableContainer {
    max-width: 75vw;
    max-height: 60vh;
  }
  .tableContainer th {
    color: var(--color-text-secondary);

    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }

  .tableContainer td {
    padding: 0.3rem;
    border-bottom: 1px solid #30363d;
    white-space: nowrap;
    font-size: 0.95rem;
    min-width: 1vw;
    text-align: center;
  }
  .tableContainer tbody tr:hover {
    background-color: var(--color-card);
  }

  .tooltipTrigger::after {
    top: 1rem;
    left: 65%;
  }
}
