.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.postList {
  list-style: none;
}

.postListItem {
  padding: 0.5rem 4rem 0.5rem;
  margin: 2rem 0 2rem;
  border-style: groove;
  width: 26rem;
  border-color: rgb(218, 171, 45);
  background-color: rgb(40, 40, 40);
}
