.tableContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.filters {
  /* display: flex; */
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.filterInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.filterInputDrop {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.playerTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tableHeader {
  background-color: var(--color-primary);
  text-align: center;
  border-bottom: 1px solid;
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.headerCell,
.dataCell {
  padding: 0.5rem;
}

.sortableHeader {
  cursor: pointer;
  user-select: none;
}

.sortableHeader:hover {
  background-color: #3399ff;
}

@media screen and (min-width: 769px) {
  .filterInput {
    /* display: block; */
    margin-right: 0.5rem;
    width: 25%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
  }
}
