.headingLg {
  font-size: 1.7rem;
  line-height: 1;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.subtitle {
  color: rgb(245, 245, 245);
  font-size: 1.2rem;
  padding: 0 0 2rem;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 0.5rem 4rem 0.5rem;
  margin: 2rem 0 2rem;
  border-style: groove;
  width: 32rem;
  border-color: rgb(218, 171, 45);
  background-color: rgb(40, 40, 40);
}

.lightText {
  color: rgb(245, 245, 245);
  font-size: 0.9rem;
}

.tagsLightText {
  color: rgba(245, 245, 245, 0.74);
  font-size: 0.9rem;
  border: 1px;
  border-color: white;
  border-radius: 10px;
}

.lightTextDate {
  padding: 0 2rem 0;
  color: rgb(245, 245, 245);
  font-size: 0.9rem;
}

.lightTextItalics {
  color: rgb(245, 245, 245);
  font-style: italic;
}

.about {
  padding: 0 15rem 2rem;
  text-align: center;
}

.posts {
  padding: 1rem 3rem 1rem;
  /* margin-right: 15%; */
}

.postsHeader {
  padding: 0 6rem 0;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.postsDate {
  padding: 0 6rem;
  color: rgb(245, 245, 245);
  font-size: 0.9rem;
}

.postsPanel {
  position: fixed;
  top: 12rem;
  right: 2rem;
  border: 1px solid;
  padding: 1rem 1rem 1rem;
}

.historyTable {
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.historyTable td {
  min-width: 9vw;
  white-space: nowrap;
  border: 1px solid;
  height: 2rem;
}

.historyTable th {
  white-space: nowrap;
}

.extendedHistoryTable {
  table-layout: auto;
  border-collapse: collapse;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.extendedHistoryTable td {
  min-width: 7vw;
  white-space: nowrap;
  border: 1px solid;
  height: 2rem;
}

.extendedHistoryTable th {
  white-space: nowrap;
}

.accolades {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.accoladesBody {
  padding: 1rem 6rem 1rem;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bracket {
  border: 1px solid white;
  width: 100vh;
  /* max-width: 22vh; */
  margin: 0 auto;
  display: block;
  flex-direction: row;
  overflow: hidden;
}

.roundOneDiv {
  /* border: 1px solid red; */
  width: 22vh;
}

.roundOne {
  float: left;
  width: 22vh;
}

.roundOne li {
  /* display: inline; */
  border: 1px solid white;
  list-style-type: none;
  margin: 1vh;
  padding: 0.5vh 0 0.5vh 1vh;
}

.roundOne ul {
  /* display: inline; */
  list-style-type: none;
  margin-top: 3vh;
  margin-left: 18vh;
  padding: 0.5vh 0 0.5vh 1vh;
}

.final {
  float: left;
  width: 22vh;
}

.final li {
  /* display: inline; */
  border: 1px solid blue;
  list-style-type: none;
  margin: 1vh;
  padding: 0.5vh 0 0.5vh 1vh;
}

.final ul {
  /* display: inline; */
  border: 1px solid red;
  list-style-type: none;
  margin-top: 3vh;
  margin-left: 50vh;
  padding: 0.5vh 0 0.5vh 1vh;
}

.roundTwoDiv {
  float: left;
  overflow: hidden;
  /* border: 1px solid blue; */
  width: 22vh;
  position: relative;
  height: auto;
  vertical-align: middle;
}

.roundTwo {
  /* float: left; */
  width: 22vh;
  /* overflow: hidden; */
}

.roundTwo li {
  /* display: inline; */
  border: 1px solid white;
  list-style-type: none;
  margin: 1vh;
  padding: 0.5vh 0 0.5vh 1vh;
}

.score {
  text-align: right;
  float: right;
  padding: 0 1vh 0 1vh;
  border-left: 1px solid white;
  display: block;
}

.wrapper {
  width: 100vh;
  border: 1px solid white;
  overflow: hidden;
}

.r1 {
  width: 22vh;
  /* border: 1px solid blue; */
  float: left;
}

.r2 {
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 2vh 6vh;
}
